.projects {
  max-width: 1120px;
  color: #212529;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 10px 70px 10px;
}

.projects__main-heading {
  text-align: center;
  text-transform: uppercase;
  color: #3366ff;
}

.projects__sub-heading {
  margin-left: 100px;
  margin-top: 50px;
}

.projects__technologies {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  font-size: 4.5rem;
  margin: 10px auto;
}

.icon {
  margin: 10px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.html5 {
  color: #e34f26;
}
.css3 {
  color: #0170ba;
}
.react {
  color: #6dd7f9;
}
.node {
  color: #8dc43d;
}
.js-badge {
  color: #f2da30;
}
.sass {
  color: #cc6699;
}
.npm {
  color: #CB3837;
}
.ruby {
  color: #E9573F;
}
.ruby-on-rails {
  color: #CC0000;
}
.postgresql {
  color: #345F88;
}
.bootstrap {
  color: #7952B3;
}
.mongodb {
  color: #13AA52;
}



@media only screen and (max-width: 650px) {
  .projects {
    margin: 30px 0 70px;
  }
}

@media only screen and (min-width: 650px) {
  .projects__list {
    justify-content: space-around;
  }
  .projects {
    margin: 30px auto 70px;
  }
}
