.project {
  width: 306px;
  color: #212529;
  margin: 10px;
  padding: 0 10px;
}

.project__image-container {
  width: 300px;
  text-align: center;
}

.project__link {
  margin-left: 15px;
  font-size: 2rem;
}

.fa-globe {
  color: #2f3d9b;
}

.fa-github {
  color: #000;
}
